html {
    height: 100%;
    width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right,#0077B6 0%, #2ecc71 50%, #E67E22 100%);
  padding: 15px 30px;
}

.logo img {
  width: 60px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

/* Barra de búsqueda */
.search {
  display: flex;
  gap: 10px;
}

.search input {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.search button {
  background: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.search button:hover {
  background: gold;
}

/* Mis contenedores para la pagina inicial de los datos de animalitos "Dante" */
.container {
  border: solid 3px green;
  padding: 20px;              
  margin: 20px auto;           
  max-width: 800px;           
  background-color: #f9fbff; 
  border-radius: 12px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}

.container1 {
  border: solid 3px rgb(21, 0, 128);
  padding: 20px;              
  margin: 20px auto;           
  max-width: 800px;           
  background-color: #f9fbff; 
  border-radius: 12px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}

.container2 {
  border: solid 3px rgb(128, 0, 117);
  padding: 20px;              
  margin: 20px auto;           
  max-width: 800px;           
  background-color: #f9fbff; 
  border-radius: 12px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}

.container3 {
  border: solid 3px rgb(128, 0, 0);
  padding: 20px;              
  margin: 20px auto;           
  max-width: 800px;           
  background-color: #f9fbff; 
  border-radius: 12px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}

.container4 {
  border: solid 3px rgb(0, 92, 128);
  padding: 20px;              
  margin: 20px auto;           
  max-width: 800px;           
  background-color: #f9fbff; 
  border-radius: 12px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}

.container5 {
  border: solid 3px rgb(128, 124, 0);
  padding: 20px;              
  margin: 20px auto;           
  max-width: 800px;           
  background-color: #f9fbff; 
  border-radius: 12px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}